<?xml version="1.0"?>

<model>
  <name>Velodyne VLP16</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Optional: YOUR NAME</name>
    <email>Optional: YOUR EMAIL</email>
  </author>

  <description>
    A model of a Velodyne VLP16 LiDAR sensor.
  </description>

</model>